@font-face {
	font-family: 'f1-regular';
	src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Regular/Formula1-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'f1-italic';
	src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1RegularItalic/Formula1-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'f1-bold';
	src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Bold/Formula1-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'f1-black';
	src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Black/Formula1-Black.woff2') format('woff2');
}

@font-face {
	font-family: 'f1-wide';
	src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Wide/Formula1-Wide.woff2') format('woff2');
}

@font-face {
	font-family: 'f1-year';
	src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1YEAR/F1YEARRegular.woff2') format('woff2');
}

:root {
    --primary-color: #F1A234;
    --secondary-color: #000000;
    --tertiary-color: #FFFFFF;
    background-color: rgb(120, 120, 120);
}

header {
    height: 250px;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
        url('Images/F1-banner.jpg');
    background-size: 100% 100%;
    margin: -8px -8px 8px -8px;
}

header h1 {
    font-family: 'f1-wide';
    color: var(--tertiary-color);
    text-shadow: 5px 5px #000000;
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
    margin-top: 0;
}
  
.races h1{
    color: var(--primary-color);
    text-shadow: 2px 2px #000000;
    font-family : 'f1-wide';
    position: relative;
    font-size: 28px;
}

.races h2, h3 {
    color: var(--secondary-color);
    text-shadow: 1px 1px #ff0000;
    font-family : 'f1-italic';
    position: relative;
    }

.races {
    width: fit-content;
    overflow: hidden;

}

.race-bg {
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    opacity: 0.2;
    width: 99%;
    height: 300px;
    float: left;
    position: absolute;
    filter: drop-shadow(10px 10px 10px rgb(0, 0, 0));
    border-radius: 10px;
    z-index: -1;
}

.race-content {
    opacity: 1;
    height: 300px;
    padding-left: 10px;
}

.f1-button {
    background-color: #f1570f;
    color: rgb(0, 0, 0);
    border: solid;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'f1-wide';
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
    opacity: 1;
  }
  
  .f1-button:hover {
    background-color: rgb(253, 194, 0);
    color: #000000;
    cursor: pointer;
    opacity: 1;
  }

  .f1-button:active {
    background-color: #cc892b;
    color: #000000;
    cursor: pointer;
    opacity: 1;
  }

.resultTable h1{
    color: var(--tertiary-color);
    text-shadow: 5px 5px #000000;
    font-family : 'f1-wide';
    position: relative;
    font-size: 28px;
    padding-bottom: 50px;
    text-align: center;
}

._1{
    color: #ebb917 !important;
    text-shadow: 1px 1px #ffd900 !important;
    font-family : 'f1-regular';
    position: relative ;
}

._2{
    color: #C0C0C0 !important;
    text-shadow: 1px 1px #ffffff !important;
    font-family : 'f1-regular';
    position: relative ;
}

._3{
    color: #836615 !important;
    text-shadow: 1px 1px #57430e !important;
    font-family : 'f1-regular';
    position: relative ;
}

.resultTable h2{
    color: #444444;
    text-shadow: 1px 1px #000000;
    font-family : 'f1-regular';
    position: relative;
}

.resultTable table {
    width: 100%;
}

.resultTable td {
    text-align: center;
    border-bottom: 1px solid #C0C0C0;
}

.resultTable tr {
    border-bottom: 1px solid #C0C0C0;
}

.resultTable th {
    font-family: 'f1-regular';
    font-size: 24px;
    padding-bottom: 10px;
}

.arrow-wrapper {
    display: flex;
    align-items: center;
    font-family: 'f1-italic';
    padding-top: 100px;
}

#arrow_2 .arrow {
    color: #fff;
    cursor: pointer;
    display: block;
    align-items: flex-start;
    text-transform: uppercase;
    position: relative;
    transition: transform 0.3s;
}
#arrow_2 .arrow span {
    display: block;
    width: 5em;
    opacity: 0;
    transition: opacity 0.3s 0s;
    padding: 0 0.5em;
}
#arrow_2 .arrow:hover span {
    opacity: 1;
    transition: opacity 0.3s 0.1s;
}
#arrow_2 .arrow:before {
    content: '';
    display: block;
    border: solid #fff;
    border-width: 2px 2px 0 0;
    position: absolute;
    top: 4px;
    width: 10px;
    height: 10px;
}

#arrow_2 .arrow.arrow--left {
    position: absolute;
    left: 50px;
    text-align: left;
}
#arrow_2 .arrow.arrow--left:before {
    transform: rotate(-135deg);
    right: 0;
    transition: right 0.3s 0.2s;
}
#arrow_2 .arrow.arrow--left:hover:before {
    right: 100%;
    transition: right 0.3s;
}

#arrow_2 .arrow.arrow--right {
    position: absolute;
    right: 50px;
    text-align: right;
}
#arrow_2 .arrow.arrow--right:before {
    left: 0;
    transform: rotate(45deg);
    transition: left 0.3s 0.2s;
}
#arrow_2 .arrow.arrow--right:hover:before {
    left: 100%;
    transition: left 0.3s;
}
#arrow_2 .arrow:hover {
    transform: none;
}

#PrevYear:active, #NextYear:active {
    color: rgb(184, 184, 184);
}

#arrow_2 .arrow:active::before {
    border-color: rgb(184, 184, 184);
}